NODE_ENV=development

# Database
POSTGRES_USER=eteg
POSTGRES_PASSWORD=eteg123
POSTGRES_DB=eteg_db

# Server
DATABASE_URL=postgresql://eteg:eteg123@localhost:5432/eteg_db
SERVER_PORT=3001

# Web
VITE_SERVER_URL=http://localhost:3001